.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}
.themelayout {
  justify-content: flex-start;
}
.authlayout {
  justify-content: flex-end;
}
