.root {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #000000; /* Цвет текста */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #e0e0e0; /* Фон */
  border: 1px solid #a0a0a0; /* Граница */
  border-radius: 4px; /* Закругление углов */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Тень */
  width: 200px;

  /* Анимация для плавности */
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.darkThemeButton {
  background-color: #042461;
  color: white;
  border: 1px solid black;
}

.ligthThemeButton {
  background-color: #c9c9c9;
  border: 1px solid black;
}

.themeTypeButton {
  justify-content: flex-start;
}

.authTypeButton {
  justify-content: flex-end;
}
